html
    head
        title sum form
    body
        h1 Calculator
        form(action="/sum",method="post")
            input(type="", name="n1", placeholder="Enter Number")
            brbr
            input(type="", name="n2", placeholder="Enter Number")
            brbr
            input(type="submit",value="Add")
        h1=sum
        
