html
    head 
        title My First Template 
    body
        h1 Welcome #{ name } to my app
        p You are #{ age } years old
        a(href="/sum-form") Click to add numbers
        //- p=name 
        //- p=age