html 
    head 
        title sum form
    body 
        h1 Simple Calculator 
        form(action="/sum", method="post") 
            input(type="text",placeholder='enter first num', name="n1")
            brbr
            input(type="text",placeholder='enter second num', name="n2")
            brbr
            input(type="submit", value="Add")
        h1= sum
            
        